# ===============================
# Arquivos compilados C
# ===============================
*.o
*.out
*.elf
*.bin
*.hex
*.uf2
*.map

# ===============================
# Executáveis
# ===============================
app
*.exe

# ===============================
# Kernel Modules
# ===============================
*.ko
*.mod
*.mod.c
Module.symvers
modules.order

# ===============================
# Build directories (CMake)
# ===============================
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake

# ===============================
# Pico SDK (caso esteja dentro do projeto)
# ===============================
pico-sdk/

# ===============================
# VSCode
# ===============================
.vscode/

# ===============================
# Arquivos temporários
# ===============================
*~
*.swp
*.bak

# ===============================
# Sistema
# ===============================
.DS_Store
Thumbs.db
